<!DOCTYPE HTML>
<html lang = "en">
<head>
  <!-- basic.html -->
  <title>location.test</title>
  <meta charset = "UTF-8" />
</head>
<body>
    <input type="text" id="lat" value="59.89552" />
    <input type="text" id="long" value="10.62908" />
    <p id = "status"></p>
    <a id = "map-link" target="_blank"></a>
    <form method="POST" id="userFileForm" enctype="multipart/form-data">
        <input type="file" id="userFile" name="file"/>
        <button type="submit" role="button">Upload File</button>
    </form>
    <script src="d3.min.js" defer></script>
    <script src="src.js" defer></script>
</body>
</html>
